# Arquivos e diretórios a serem ignorados pelo Git

# Diretórios gerados pelo Maven ou Gradle
target/
build/

# Arquivos e diretórios específicos de IDEs
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Outros arquivos e diretórios que você deseja ignorar
HELP.md
src/main/resources/

